.PP{
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.PP > input[type=number]{
  width: auto;
}
.value{
  justify-content: center;
  width: 70px;
  margin-left: 20px;
}
.value > input[type=number]{
  width: 100%;
}

.B{
  justify-content: space-around;
  margin: 20px 20% 10px;
  height: 35px;
}

.SEL{
  display: flex;
  justify-content: center;
  width: 100%;
}
.SEL > select{
  width: 60%;
  margin: 0;
}